@font-face {
  font-family: "ET Book";
  src: url("../fonts/et-book-roman-line-figures.woff") format("woff2");
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

body {
  font-family: "Inter", sans-serif;
}

.poppins {
  font-family: "Inter", serif;
}

.logo,
header {
  font-family: "Inter";
}

.layout-bg {
  background: #fbf2da;
}

.layout-overlay, .layout-left {
  background: #f9ebc4;
}

.layout-overlay:hover {
  @apply bg-orange-300;
}

.side-overlay, .layout-right {
  background: #b7f4c4;
}

.side-overlay:hover {
  @apply bg-green-300;
}
